html {
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

.header-background {
  font-weight: bolder;
  font-size: 24px;
  text-shadow: 1px 1px 5px yellow;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-left: 20px;
  z-index: 20;
}

.header-nav {
  opacity: 1;
  /* border-bottom: 5px solid black; */
  font-weight: bolder;
  font-size: 1.25rem;
  text-shadow: 1px 1px 5px yellow;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-left: 20px;
  z-index: 10;
}

.bottom-background {
  font-weight: bolder;
  font-size: 1.5rem;
  text-shadow: 1px 1px 5px yellow;
  height: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  z-index: 20;
}

.bottom-nav {
  opacity: .5;
  background: black;
  border-top: 5px solid black;
  height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.bottom-nav-content {
  align-content: center;
  width: 100%;
}

.search-modal {
  color: whitesmoke;
  /* font-weight: bolder; */
  font-size: 1.2rem;
  position: fixed;
  top: 15%;
  left: 5%;
  min-width: 250px;
  width: 30%;
  max-width: 300px;
  height: 65%;
  max-height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  z-index: 10;
}

.search-modal-background {
  opacity: .5;
  background: black;
  position: fixed;
  top: 15%;
  left: 5%;
  min-width: 250px;
  width: 30%;
  max-width: 300px;
  height: 65%;
  max-height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  z-index: 5;
}

.gallery-modal{
  color: whitesmoke;
  font-size: 1rem;
  position: fixed;
  bottom: 60px;
  width: 100%;
  height: 35%;
  max-height: 35%;
  border-bottom: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
  z-index: 20;
}

.gallery-modal-background{
  background: black;
  opacity: .5;
  font-size: 1rem;
  position: fixed;
  bottom: 60px;
  width: 100%;
  height: 35%;
  max-height: 35%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  z-index: 10;
}

.searchObj {
  border: 2px solid whitesmoke;
  opacity: .8;
  background: black;
  /* padding-left: 5px; */
  margin-top: 10px;
}

.hidden{
  opacity: 0;
}

.gallery-object-container {
  background: black;
  padding-left: 5px;
  padding-right: 5px;
  width:  160px;
  max-width: 260px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.galleryObj {
  width:  150px;
  max-width: 250px;
  height: auto;
}

.nomargin-nopadding{
  margin: 0px !important;
  padding: 0px !important;
}

.gallery-modal-nomargin-nopadding{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
}