html {
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

.validate {
  color: teal;
}

.header-background {
  font-size: 1.1rem;
  color: black !important;
  font-weight: bolder;
  opacity: 85%;
  height: 50px;
  position: fixed;
  top: 2%;
  left: 1%;
  width: fit-content;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-left: 20px;
  z-index: 20;
}

.bottom-background {
  font-weight: bolder;
  text-shadow: 1px 1px 5px yellow;
  height: 24px;
  width: auto;
  padding-top: 2%;
  position: fixed;
  bottom: 10px;
  width: 100%;
  justify-content: space-around;
  z-index: 20;
}

.bottom-nav {
  opacity: .85;
  background: black;
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.bottom-nav-content {
  align-content: center;
  width: 100%;
}

.search-modal {
  color: whitesmoke;
  background: black;
  opacity: .85;
  font-size: 1.2rem;
  position: fixed;
  top: 15%;
  left: 5%;
  min-width: 250px;
  width: 30%;
  max-width: 300px;
  height: fit-content;
  max-height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  z-index: 10;
}

.searchObj {
  border: 2px solid whitesmoke;
  color: whitesmoke;
  background: black;
  opacity: .85;
  margin-top: 10px;
}

.gallery-modal{
  color: whitesmoke;
  font-size: 1rem;
  position: fixed;
  bottom: 60px;
  width: 100%;
  height: fit-content;
  max-height: fit-content;
  border-bottom: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
  z-index: 20;
}

.galleryObj {
  width:  150px;
  max-width: 250px;
  height: auto;
}

.gallery-object-container {
  background: black;
  color: whitesmoke;
  position: fixed;
  bottom: 35%;
  left: 45%;
  padding-left: 5px;
  padding-right: 5px;
  width:  160px;
  max-width: 260px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-upload-form{
  width: 100%;
  font-size: 1rem;
  z-index: 22;
}

.img-upload-form-font{
  opacity: .5;
  color: whitesmoke;
  font-size: 1rem;
  z-index: 22;
}

.form-btn{
  font-size: 1.15rem;
  border: 2px solid whitesmoke;
  margin-top: 10px;
  background: black;
}

.img-upload-modal{
  color: whitesmoke;
  font-size: 1rem;
  position: fixed;
  background: black;
  opacity: .85;
  right: 10%;
  bottom: 25.5%;
  min-width: 200px;
  width: 25%;
  height: fit-content;
  max-height: fit-content;
  /* border-bottom: 2px solid white; */
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 25px;
  padding-bottom: 10px;
  justify-content: space-around;
  z-index: 20;
}


.user-form-modal {
  color: whitesmoke;
  font-size: 1.15rem;
  background: black;
  opacity: .85;
  position: fixed;
  top: 10%;
  right: 5%;
  min-width: 250px;
  width: 30%;
  max-width: 300px;
  height: fit-content;
  max-height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  z-index: 10;
}

.login-form-modal {
  color: whitesmoke;
  font-size: 1.2rem;
  background: black;
  opacity: .85;
  position: fixed;
  top: 25%;
  right: 5%;
  min-width: 250px;
  width: 30%;
  max-width: 300px;
  height: fit-content;
  max-height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  z-index: 10;
}

.hidden{
  opacity: 0;
}

.nomargin-nopadding{
  margin: 0px !important;
  padding: 0px !important;
}

.gallery-modal-nomargin-nopadding{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
}